
   <button class="sidebar-menu-close"><i class="flaticon-close"></i></button>
   <div class="sidebar-inner">
     <div class="sidebar-logo">
       <img src="{{this.theme.logoDark.path}}" alt="logo" width="70"/>
     </div>
     {% if this.theme.site_description == true %}
     <div class="sidemenu-text">
       {{this.theme.site_description | raw}}
     </div>
     {% else %}
     {% endif %}


     <div class="sidebar-contact">
       <h4>{{'Contact us'|_}}</h4>
       <ul>

         {% for contact in this.theme.contacts %}

         {% if contact.address == true %}
         <li><i class="fa fa-map-marker"></i>
          {{contact.address}}           
         </li>
         {% else %}
         {% endif %}

         {% if contact.phone1 == true %}
         <li><i class="fa fa-phone"></i>(+996) {{contact.phone1}}</li>
         {% else %}
         {% endif %}

         {% if contact.phone2 == true %}
         <li><i class="fa fa-phone"></i>(+996) {{contact.phone2}}</li>
         {% else %}
         {% endif %}

         {% if contact.user_email1 == true %}
         <li><i class="fa fa-envelope"></i>{{contact.user_email1}}</li>
         {% else %}
         {% endif %}

         {% if contact.user_email2 == true %}
         <li><i class="fa fa-envelope"></i>{{contact.user_email2}}</li>
         {% else %}
         {% endif %}

         {% endfor %}

       </ul>
     </div>


     <div class="sidebar-subscribe">
       <form class="contact-form" data-request="{{ sidebar }}::onFormSubmit">
         <div id="{{ sidebar }}_forms_flash"></div>
         {{ form_token() }}
         <input type="text" id="name" name="Имя" placeholder="{{'Name'|_}}">
         <input type="text" id="email" name="email" placeholder="{{'Email'|_}}" >
         <input type="text" id="number" name="телефон" placeholder="{{'Phone'|_}}" >
         <button class="btn" id="simpleContactSubmitButton" type="submit"><i class="fa fa-envelope-o"></i></button>
       </form>
     </div>
     <div class="social-link">
       <ul>
         {% for item in this.theme.social %}
         <li><a href="{{item.url}}"><i class="{{item.awesome_icon}}"></i></a></li>
         {% endfor %}
       </ul>
     </div>
   </div>