title = "All events"
url = "/all-events"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
child_of = "mey_no_parent"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[viewBag]
localeTitle[ru] = "Все события"
localeTitle[en] = "Бардык окуялар"
localeTitle[de] = "Alle Veranstaltungen"
localeTitle[rus] = "Все события"
localeUrl[en] = "/all-events"

[builderList]
modelClass = "Akmal\Events\Models\Event"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "event-detail"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
pageNumber = "{{ :page }}"
sortColumn = "date"
sortDirection = "asc"

[siteSearchInclude]

[genericForm sidebar]
rules[email] = "required|email"
messages_success = "Ваша форма была успешно отправлена!"
messages_errors = "В вашей заявке содержатся ошибки."
mail_enabled = 1
mail_recipients[250296a@gmail.com] = "Tourism"
mail_resp_field = "250296a@gmail.com"
mail_resp_from = "250296a@gmail.com"
reset_form = 1
inline_errors = "disabled"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"
emails_date_format = "Y-m-d"
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}
{% set currentDate = 'now' | date('Y-m-d') %}


<div class="container">

  <div class="title-left-style margin-top-40">
    <p class="section-subtitle">{{'Upcoming Events'|_}}</p>
    <h2 class="section-title">{{'All events'|_}}</h2>
  </div>

  <div class="upcoming-area margin-top-100">
    <div class="row">
      {% for record in records %}

      {% if record.date >= currentDate %}
      <div class="col-lg-6">
        <div class="upcoming-box">
          <div class="ub-image">
            <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}" style="background-image:
              url({{record.img.path | resize(500, false, { mode: 'crop', quality: '80', extension: 'jpg' })}});">
            </a>
          </div>

          <div class="date-box">
            <span class="date">{{record.date | date('d')}}</span>
            <span class="month">
              {% if activeLocale == 'rus'  %}
              {{record.date | rudate('%BP')}}
              {% elseif activeLocale == 'de'  %}
              {{record.date | rudate('%BP')}}
              {% else %}
              {{record.date | date('M')}}
              {% endif %}
            </span>
          </div>
          <div class="ub-content">
            <h4><a
                href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">{{record.title}}</a>
            </h4>
            <p><i class="fa fa-map-marker"></i> {{record.location}}</p>
          </div>
        </div>
      </div>

      {% else %}

      {% endif %}

      {% endfor %}
    </div>
  </div>
</div>