title = "Guest house detail"
url = "/guest-house-detail/:slug"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
child_of = "mey_no_parent"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[recordDetail]
activeOnly = 0
recordSlug = "{{ :slug }}"
areaSlug = "gostevye-doma"
categorySlug = "{{ :category }}"
useMainCategory = 0
setPageMeta = 1
throw404 = 1
categoryPage = 0
categoryPageSlug = "{{ :category }}"

[viewBag]
localeTitle[de] = "Gästehaus-Detail"
localeTitle[rus] = "Гостевой дом детально"
==
<div class="leadership-area margin-top-115">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="leadership-content">
            
          <h2>{{recordDetail.name}} </h2>
          {{ recordDetail.content | raw }}

          
          {% if recordDetail.images|length %}

                <div class="row">

                    {% for image in recordDetail.images %}

                        <div class="col-xs-12 col-sm-4 col-md-3 col-md-2">
                          <a href="{{image.getThumb(1200,1200)}}" class="gallery-link">
                            <div style="width: 150px;height: 100px; border-radius: 10px; overflow: hidden;margin-bottom: 10px; position: relative;">
                              <img class="thumbnail" style="position: absolute; width: 100%; height: 100%; object-fit: cover;" src="{{image.getThumb(300,auto)}}" alt="{{image.title ? image.title : recordDetail.name}}">
                            </div>
                          </a>
                          

                        </div>

                    {% endfor %}

                </div>

            {% else %}

            {% endif %}

          

        </div>
      </div>
      <div class="col-lg-4 offset-lg-1 text-center">
        <div class="ls-date-box">
          <h4>{{'Contacts'|_}}:</h4>
          <a href="tel:{{recordDetail.phone}}" style="text-decoration: none;">{{recordDetail.phone}}</a>
          <br>
          <a href="tel:{{recordDetail.email}}" style="text-decoration: none;">{{recordDetail.email}}</a>
          <p></p>
          <hr>
          <h4>{{'Location'|_}}</h4>
          <p>{{recordDetail.location}}</p>
        </div>
        <div class="ls-social-share">
          <script src="https://yastatic.net/share2/share.js"></script>
          <div class="ya-share2" data-curtain data-shape="round" data-limit="3"
            data-services="vkontakte,facebook,odnoklassniki,telegram,twitter,whatsapp,skype"></div>
        </div>
      </div>
    </div>
  </div>
</div>